// COMMON :: START

.logo {
  display: flex;

  &.logo--header {
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }

  &.logo--footer {
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    display: flex;
    align-items: flex-start;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  @include adaptive(767) {
    font-size: 14px;
  }
}


@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

// COMMON :: END
