/// ADDITIONALLY
/// ===============
$maxWidth: 1300px;
$paddingLeft: 20px;
$paddingRight: $paddingLeft;

/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }
  padding-right: $paddingRight;
  padding-left: $paddingLeft;

  &-fluid {
    @extend %grid;
    max-width: 100%;
    padding-right: $paddingRight;
    padding-left: $paddingLeft;
  }
}

