.c-grid-fluid, .c-grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer__bg-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}
.icon-twitter:before, .icon-instagram:before, .icon-facebook:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-facebook:before {
  content: "\e001";
}

.icon-instagram:before {
  content: "\e002";
}

.icon-twitter:before {
  content: "\e003";
}

html,
body {
  width: 100%;
  min-height: 100vh;
}
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
  width: 100%;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #080e1f;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
body > .main--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-grid {
  max-width: 1300px;
  padding-right: 20px;
  padding-left: 20px;
}
.c-grid-fluid {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo.logo--footer {
  width: 100%;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}
.logo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .copyright {
    font-size: 14px;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.icon-font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

.c-title {
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}
@media screen and (max-width: 1279px) {
  .c-title {
    font-size: 33px;
  }
}
@media screen and (max-width: 767px) {
  .c-title {
    font-size: 30px;
  }
}
.c-title.c-title--big {
  font-size: 80px;
  line-height: 1;
  font-weight: 900;
}
@media screen and (max-width: 1535px) {
  .c-title.c-title--big {
    font-size: 70px;
  }
}
@media screen and (max-width: 1365px) {
  .c-title.c-title--big {
    font-size: 60px;
  }
}
@media screen and (max-width: 1279px) {
  .c-title.c-title--big {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .c-title.c-title--big {
    font-size: 37px;
  }
}

.footer {
  position: relative;
}
.footer__bg {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__bg-canvas {
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__bg-line {
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 55%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: skewX(-30deg);
      -ms-transform: skewX(-30deg);
          transform: skewX(-30deg);
  background-color: #080e1f;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}
.footer__container-1 {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 150px;
}
.footer__container-2 {
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.footer__wrapper {
  z-index: 5;
  position: relative;
}
.footer__wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
}
.footer__logo {
  padding-bottom: 60px;
}
.footer__title {
  padding-bottom: 55px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}
.footer__contacts-title, .footer__contacts-link {
  font-size: 19px;
  color: #fff;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1279px) {
  .footer__contacts-title, .footer__contacts-link {
    font-size: 16px;
  }
}
.footer__contacts-title {
  font-weight: 900;
}
.footer__contacts-link {
  position: relative;
}
.footer__contacts-link:hover:before, .footer__contacts-link:hover:after {
  width: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.footer__contacts-link:before, .footer__contacts-link:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.footer__contacts-link:before {
  left: 50%;
}
.footer__contacts-link:after {
  right: 50%;
}
.footer__contacts-link:hover {
  color: #ffffff;
}
.footer__contacts-link strong {
  font-family: "RalewayExtraBold", sans-serif;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social li a {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: -o-linear-gradient(131deg, #00f968 0%, #00babb 100%);
  background-image: linear-gradient(-41deg, #00f968 0%, #00babb 100%);
}
.footer__social li a:after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(131deg, #00F968, #00BABB, #00F968, #00BABB);
  background: linear-gradient(-41deg, #00F968, #00BABB, #00F968, #00BABB);
  background-size: 300% 300%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.footer__social li a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.footer__social li a .icon-font {
  z-index: 2;
  position: relative;
  color: #000;
  font-size: 28px;
}