// SECTION :: START

section#audience.audience
  .c-grid
    .audience__wrapper

      h2.audience__title.c-title.wow.animate__animated.animate__fadeInUp OUR TARGET AUDIENCE
      .audience__line.c-line
      p.audience__desc.c-desc.wow.animate__animated.animate__fadeInUp Zen Launch’s target audience conservative high net-worth individuals, corporate professionals, small family offices and people with a background in private investing.
      p.audience__subtitle.wow.animate__animated.animate__fadeInUp Common traits of our target audience:

      .audience__box-wrapper
        div.wow.animate__animated.animate__fadeInUp
          .audience__box
            .audience__box-head
              img(src="img/icon-audience-1.svg" alt="")
            .audience__box-body
              p Older, less technologically savvy. Doesn’t want to ‘figure it out’.
        div.wow.animate__animated.animate__fadeInUp
          .audience__box
            .audience__box-head
              img(src="img/icon-audience-2.svg" alt="")
            .audience__box-body
              p Experience investing, attracted to simplicity and liquidity.
        div.wow.animate__animated.animate__fadeInUp
          .audience__box
            .audience__box-head
              img(src="img/icon-audience-3.svg" alt="")
            .audience__box-body
              p Pays 2/20 fees in traditional funds, pays brokerage fees and gets low APY yields.
        div.wow.animate__animated.animate__fadeInUp
          .audience__box
            .audience__box-head
              img(src="img/icon-audience-4.svg" alt="")
            .audience__box-body
              p Buys and holds, doesn’t dump, doesn’t get liquidated on leverage.
        div.wow.animate__animated.animate__fadeInUp
          .audience__box
            .audience__box-head
              img(src="img/icon-audience-5.svg" alt="")
            .audience__box-body
              p Experience investing, attracted to simplicity and liquidity.
        div.wow.animate__animated.animate__fadeInUp
          .audience__box.is-active
            .audience__box-head
              img(src="img/audience-logo.png" srcset="img/audience-logo@2x.png 2x" alt="")
            .audience__box-body
              p Needs a high-end, white-glove launchpad like Zen Launch.

// SECTION :: END
