// SECTION :: START

section#future.future

  .future__bg
    img.future__bg-visual(src="img/img-footer-bg.svg" alt="")

    #future__bg-canvas.future__bg-canvas
    .future__bg-line

  .future__container
    .c-grid-fluid
      .future__wrapper

        p.future__subtitle BE AT ONE WITH THE FUTURE.

        .future__logo.logo.logo--header
          a.logo__btn(href="#")
            img.logo__img(src="img/logo.png" alt="")

        .future__btn
          a(href="#") Read more

// SECTION :: END
