// SECTION :: START

section#growing.growing
  .c-grid
    .growing__wrapper

      h2.growing__title.c-title IDO’S: A GROWING MARKET
      .growing__line.c-line

      .growing__desc-wrapper
        div
          p.c-desc Launchpads represent the future of the token offering market We anticipate IDO dominance to continue in 2022
        div
          p.c-desc Thecategory can be ‘ and enjoy high overall sector growth, as it becomes popularized outside of niche use for crypto native gamers
        div
          p.c-desc The total category marketcap on Coinmarketcap com is only 3 b (compared to 24 b for Yield Farming and 27 b for DAO’s) this an opportunity to be well positioned in a growing vertical

      .growing__graph
        div
          p.growing__graph-title EVOLUTION OF INITIAL OFFERING TYPES
          canvas(id="growingChart1")
        div
          p.growing__graph-title total raised in jan-nov 2021
          canvas(id="growingChart2")
// SECTION :: END
