// SECTION :: START

section#introduction.introduction

  .introduction__bg
    .introduction__bg-corner.introduction__bg-corner-1
    .introduction__bg-corner.introduction__bg-corner-2

  .c-grid
    .introduction__wrapper
      .introduction__wrapper-left

        .introduction__box
          img.introduction__box-cover(src="img/img-introduction.png" srcset="img/img-introduction@2x.png 2x" alt="")
          #introduction__box-canvas.introduction__box-canvas
          img.introduction__box-logo(src="img/introduction-logo.png" srcset="img/introduction-logo@2x.png 2x" alt="")

      .introduction__wrapper-right

        h2.introduction__title.c-title INTRODUCTION
        p.introduction__desc.c-desc The launchpad concept is one of the most underrated innovations in Web3.
        p.introduction__desc.c-desc For anybody who has participated in traditional early-stage fundraising, the speed and ease of use is game changing.
        p.introduction__desc.c-desc We see a market opportunity for an ‘enterprise’ grade launchpad that will serve as a gateway between a Tradfi audience and well-thought out Web3 projects.
        p.introduction__desc.c-desc With Zen Launch, we are delivering on that vision.

// SECTION :: END
