// SECTION :: START

section#marketing.marketing

  .marketing__bg
    .marketing__bg-corner.marketing__bg-corner-1
    .marketing__bg-corner.marketing__bg-corner-2

  .c-grid
    .marketing__wrapper

      h2.marketing__title.c-title MARKETING STRATEGY
      .marketing__line.c-line

      .marketing__block-wrapper
        div

          p.marketing__subtitle Zen Launch will deploy a hybrid approach to marketing. We will start with a foundation of crypto best practices:

          .marketing__block-row
            div
              .marketing__block
                .marketing__block-head
                  img(src="img/img-marketing-1.svg" alt="")
                .marketing__block-body
                  p Twitter, Discord, Telegram and Medium
            div
              .marketing__block
                .marketing__block-head
                  img(src="img/img-marketing-2.svg" alt="")
                .marketing__block-body
                  p Paid advertising where appropriate
            div
              .marketing__block
                .marketing__block-head
                  img(src="img/img-marketing-3.png" srcset="img/img-marketing-3@2x.png 2x" alt="")
                .marketing__block-body
                  p KOL Campaigns

          p.marketing__desc The approach of straddling the Web3 world with the traditional investing world will give us our own unique network and create a large competitive advantage relative to other launchpads that are wholly dependent on small dollar contributors in high volumes. This creates resiliency regardless of market conditions.

        div

          p.marketing__subtitle ADDITIONALLY, WE WILL INCLUDE:

          ul.marketing__block-list
            li
              div
                img(src="img/img-marketing-4.svg" alt="")
              div Old-fashioned networking. Our founder has a large rolodex and intends to actively evangelize to his investor base.
            li
              div
                img(src="img/img-marketing-5.svg" alt="")
              div Traditional “biz-dev”. Our team will consist of a real world business development person who will attend conferences, trade shows, networking events, etc.
            li
              div
                img(src="img/img-marketing-6.svg" alt="")
              div A strong emphasis on ‘educational’ marketing. We will act as an on-ramp, providing informative content where new users are likely to be including legacy media & Web 2.0
            li
              div
                img(src="img/img-marketing-7.svg" alt="")
              div Traditional PR


// SECTION :: END
