// SECTION :: START

section#outstanding.outstanding

  .outstanding__bg
    .outstanding__bg-corner

  .c-grid
    .outstanding__wrapper

      h2.outstanding__title.c-title OUTSTANDING GROWTH POTENTIAL
      .rise__line.c-line
      p.outstanding__desc.c-desc Based on 36 comps, Zen Launch supports a price to IDO at a $32m market cap.

      p.outstanding__subtitle We are pricing private rounds below $10m MC, leaving room for  dramatic growth immediately after IDO. With an average performance, we feel that $100m market cap is achievable in 2022.

      .outstanding__table-scroll
        .outstanding__table
          .outstanding__table-head
            .outstanding__table-row
              .outstanding__table-col Market Capitalization of Comparable Platforms
              .outstanding__table-col $ZENL Valuation Summary
          .outstanding__table-body
            .outstanding__table-row
              .outstanding__table-col
                  strong MINIMUM
              .outstanding__table-col $313,305
              .outstanding__table-col
                  strong MINIMUM
              .outstanding__table-col $6,182,246
            .outstanding__table-row
              .outstanding__table-col
                  strong MAXIMUM
              .outstanding__table-col $767,833,333
              .outstanding__table-col
                  strong MAXIMUM
              .outstanding__table-col $50,772,629
            .outstanding__table-row
              .outstanding__table-col
                  strong AVERAGE
              .outstanding__table-col $105,187,817
              .outstanding__table-col
                  strong AVERAGE
              .outstanding__table-col $35,354,621
            .outstanding__table-row
              .outstanding__table-col
                  strong MEDIAN
              .outstanding__table-col $29,789,959
              .outstanding__table-col
                  strong MEDIAN
              .outstanding__table-col $32,415,003

// SECTION :: END
