// SECTION :: START

section#points.points
  .c-grid
    .points__wrapper

      h2.points__title.c-title.wow.animate__animated.animate__fadeInUp KEY STRATEGY POINTS
      .points__line.c-line
      p.points__subtitle.wow.animate__animated.animate__fadeInUp Zen Launch has a number of key strategical differences in its approach:

      .points__list-wrapper
        div
          ul.points__list
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/point-logo.png" srcset="img/point-logo@2x.png 2x" alt="")
              div We will release only 1-2 high quality projects per month, making each launch an ‘event’ and giving each project plenty of time to engage our users in advance.
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/point-logo.png" srcset="img/point-logo@2x.png 2x" alt="")
              div Our coinvestment & treasury strategy is a  value-add for our projects’s tokenomics and the value of our own token.
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/point-logo.png" srcset="img/point-logo@2x.png 2x" alt="")
              div IDO allotment is based on staking tiers and runs in 20 cycles (10 days before to whitelist, 10 days lock after if allotment received). This reduces volatility of our token and favors large holders.
        div
          ul.points__list
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/point-logo.png" srcset="img/point-logo@2x.png 2x" alt="")
              div Team will establish multiple vendor partnerships and offer advising, tokenomics support and more to our launchpad projects.
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/point-logo.png" srcset="img/point-logo@2x.png 2x" alt="")
              div We will seek to engage entrepreneurs in our network to bring their ideas on-chain and facilitate connections with designer & developers. This creates a non-competitive deal flow and distinguishes us with very unique launch offerings.
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/point-logo.png" srcset="img/point-logo@2x.png 2x" alt="")
              div Community engagement further strengthened through DAO-like Discord activity including access to trading alpha, syndicated private rounds of other deals, etc.


  .points__img.wow.animate__animated.animate__fadeInUp
    img(src="img/img-points-bg.png" srcset="img/img-points-bg@2x.png 2x" alt="")

// SECTION :: END
