// SECTION :: START

section#problems.problems

  .problems__bg
    .problems__bg-corner.problems__bg-corner-1
    .problems__bg-corner.problems__bg-corner-2

  .c-grid
    .problems__wrapper

      h2.problems__title.c-title PROBLEMS & OPPORTUNITIES
      .problems__line.c-line
      p.problems__desc.c-desc We believe in the long-term prospects for the launchpad niche but also feel the space offers room for significant improvements.

      .problems__box-wrapper
        div
          .problems__box
            .problems__box-head
              img(src="img/img-problems-1.svg" alt="")
            .problems__box-body
              p Capital sits dormant in CEX’s because people are afraid to move to decentralized platforms. They find it overwhelming and feel uncomfortable with unprofessional presentations. We see opportunity to improve the user experience.
        div
          .problems__box
            .problems__box-head
              img(src="img/img-problems-2.svg" alt="")
            .problems__box-body
              p Existing launchpads are incentivized to list any project they can to generate revenue. The “launch and leave” mentality is obvious to the sophisticated end-user. We can create better value.
        div
          .problems__box
            .problems__box-head
              img(src="img/img-problems-3.svg" alt="")
            .problems__box-body
              p The user has little loyalty. They shop around and dump their token after they get the deal they wanted. This destabilizes the launchpad token value and diminishes value. We see this an opportunity to create outsized value for our seed/private investors relative to other launchpads.

// SECTION :: END
