// SECTION :: START

section#raise.raise

  .raise__bg
    .raise__bg-corner

  .c-grid
    .raise__wrapper

      h2.raise__title.c-title.wow.animate__animated.animate__fadeInUp RAISE DETAILS
      .rise__line.c-line
      p.raise__desc.c-desc.wow.animate__animated.animate__fadeInUp Zen Launch is primarily interested in value-added participants in our funding rounds that can enhance our network within the crypto community. who have good reputations and are committed to the long-term growth of the space.
      p.raise__desc.c-desc.wow.animate__animated.animate__fadeInUp Seed & Private rounds subject to vesting schedule of 10% at IDO and then unlock over 12 months.

      .raise__table-scroll.wow.animate__animated.animate__fadeInUp
        .raise__table
          .raise__table-head
            .raise__table-row
              .raise__table-col
              .raise__table-col tokens
              .raise__table-col PRICE
              .raise__table-col VALUE OF ROUND
          .raise__table-body
            .raise__table-row
              .raise__table-col Seed - COMPLETE
              .raise__table-col 1,500,000
              .raise__table-col .05
              .raise__table-col $75,000.00
            .raise__table-row
              .raise__table-col Private A - COMPLETE
              .raise__table-col 5,500,000
              .raise__table-col .06
              .raise__table-col $330,000
            .raise__table-row
              .raise__table-col Private B -OPEN
              .raise__table-col 6,000,000
              .raise__table-col 0.08
              .raise__table-col $480,000
            .raise__table-row
              .raise__table-col IDO
              .raise__table-col 2,000,000
              .raise__table-col 0.11
              .raise__table-col $220,000
            .raise__table-row
              .raise__table-col totals
              .raise__table-col 15,000,000
              .raise__table-col
              .raise__table-col $1,105,000

// SECTION :: END
