// SECTION :: START

section#roadmap.roadmap
  .c-grid
    .roadmap__wrapper

      h2.roadmap__title.c-title.wow.animate__animated.animate__fadeInUp Roadmap
      .roadmap__line.c-line

      .roadmap__block-wrapper
        div
          .roadmap__block.roadmap__block-1.wow.animate__animated.animate__fadeInUp
            .roadmap__block-head
              p Path to Launch:
            ul.roadmap__block-list
              li.wow.animate__animated.animate__fadeInUp
                div
                  img(src="img/roadmap-logo.png" srcset="img/roadmap-logo@2x.png 2x" alt="")
                div Website & Social Media Launch
              li.wow.animate__animated.animate__fadeInUp
                div
                  img(src="img/roadmap-logo.png" srcset="img/roadmap-logo@2x.png 2x" alt="")
                div Build-out core team
              li.wow.animate__animated.animate__fadeInUp
                div
                  img(src="img/roadmap-logo.png" srcset="img/roadmap-logo@2x.png 2x" alt="")
                div Private Sale A - Completed
              li.wow.animate__animated.animate__fadeInUp
                div
                  img(src="img/roadmap-logo.png" srcset="img/roadmap-logo@2x.png 2x" alt="")
                div Smart-contracts completed
              li.wow.animate__animated.animate__fadeInUp
                div
                div Audit results (~1/26/22)
              li.wow.animate__animated.animate__fadeInUp
                div
                div UI/UX Ready to demo

        div
          .roadmap__block.roadmap__block-2.wow.animate__animated.animate__fadeInUp
            .roadmap__block-head
              p Take Off:
            ul.roadmap__block-list
              li.wow.animate__animated.animate__fadeInUp
                div
                div Private Sale B & IDO Date
              li.wow.animate__animated.animate__fadeInUp
                div
                div MVP available on ETH
              li.wow.animate__animated.animate__fadeInUp
                div
                div Near & Aurora Integrations
              li.wow.animate__animated.animate__fadeInUp
                div
                div Treasury Smart contracts
              li.wow.animate__animated.animate__fadeInUp
                div
                div Continue to expand integrations
              li.wow.animate__animated.animate__fadeInUp
                div
                div Add to swap, stake, bridging functionality

        div
          .roadmap__block.roadmap__block-3.wow.animate__animated.animate__fadeInUp
            .roadmap__block-head
              p Orbit:
            ul.roadmap__block-list
              li.wow.animate__animated.animate__fadeInUp
                div
                div On-going business development to attract A high caliber community
              li.wow.animate__animated.animate__fadeInUp
                div
                div Expand incubation services
              li.wow.animate__animated.animate__fadeInUp
                div
                div Continuous relationship building  with start-up community
              li.wow.animate__animated.animate__fadeInUp
                div
                div Turn community over to DAO governance

// SECTION :: END
