// SECTION :: START

section#signal.signal
  .c-grid
    .signal__wrapper

      h2.signal__title.c-title.wow.animate__animated.animate__fadeInUp SIGNAL VS. NOISE
      .signal__line.c-line

      .signal__block-wrapper
        div

          p.signal__subtitle.wow.animate__animated.animate__fadeInUp Of the top launchpads by marketcap:

          ul.signal__list
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/signal-logo.png" srcset="img/signal-logo@2x.png" alt="")
              div Launchpad and DeFi are often conflated on website lists (RAY,SUPER, BOUNCE, XTM)
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/signal-logo.png" srcset="img/signal-logo@2x.png" alt="")
              div Many are exclusively gaming (UFO, SFUND, GAFI, GZONE)
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/signal-logo.png" srcset="img/signal-logo@2x.png" alt="")
              div Several are chain-specific and require a user to bridge. This is a non-starter for HNWI users. (BSCPAD, XAVA, ADAPAD, PLSPAD, KCCPAD)
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/signal-logo.png" srcset="img/signal-logo@2x.png" alt="")
              div Several overwhelm with a crowded menu, multiple functionalities. , launchpad services are non-obvious (PAID, SWAP, DDIM)
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/signal-logo.png" srcset="img/signal-logo@2x.png" alt="")
              div Most list too many games, not enough value.

        div

          .signal__box.wow.animate__animated.animate__fadeInUp
            img(src="img/img-signal-box.svg" alt="")
            p A high net-worth user is unlikely to sifting through confusing options.
            p When overwhelmed, they’ll err on the side of caution and not participate at all.
            p We are solving for this key pain point.


// SECTION :: END
