// SECTION :: START

section#strategy.strategy
  .c-grid
    .strategy__wrapper

      h2.strategy__title.c-title MARKETING STRATEGY
      .strategy__line.c-line
      p.strategy__desc.c-desc Our team at Zen Launch is brings a well rounded set of skills We’re uniquely positioned to both execute well on the core product and bringing a high value network together to support it

      .strategy__box-wrapper
        div
          .strategy__box
            .strategy__box-head
              img(src="img/img-strategy-1.png" srcset="img/img-strategy-1@2x.png 2x" alt="")
            .strategy__box-body
              p.strategy__box-name RYAN COLLISON
              p.strategy__box-position Founder
              p.strategy__box-desc Ryan has been an active and dynamic serial entrepreneur for over a decade with two exits and lots of M&A expertise. He's proven to be a savvy investor with successful early investments in healthcare, fintech and biotech companies.
        div
          .strategy__box
            .strategy__box-head
              img(src="img/img-strategy-2.png" srcset="img/img-strategy-2@2x.png 2x" alt="")
            .strategy__box-body
              p.strategy__box-name FREDDIE MOORE
              p.strategy__box-position Lead Developer
              p.strategy__box-desc Freddie is a full-stack developer with a blockchain speciality. He is well versed in all aspects of blockchain technology and has been the lead developer on a number of comparable projects.
        div
          .strategy__box
            .strategy__box-head
              img(src="img/img-strategy-3.png" srcset="img/img-strategy-3@2x.png 2x" alt="")
            .strategy__box-body
              p.strategy__box-name Justin Tsuchida
              p.strategy__box-position СOO
              p.strategy__box-desc Justin is a manager at a top European based investment DAO and has key experience evaluating and managing crypto start-up and fundraising.
        div
          .strategy__box
            .strategy__box-head
              img(src="img/img-strategy-4.png" srcset="img/img-strategy-4@2x.png 2x" alt="")
            .strategy__box-body
              p.strategy__box-name Michael Moranz
              p.strategy__box-position Marketing
              p.strategy__box-desc Michael has a decade of experience in internet marketing and will manage our ‘trad’ campaigns
        div
          .strategy__box
            .strategy__box-head
              img(src="img/img-strategy-5.png" srcset="img/img-strategy-5@2x.png 2x" alt="")
            .strategy__box-body
              p.strategy__box-name Melissa Bell
              p.strategy__box-position Public Relations
              p.strategy__box-desc Melissa comes to us from handling PR for Aavegotchi and manages our media outreach and thought leadership efforts.

// SECTION :: END
