// SECTION :: START

section#summary.summary

  .summary__bg
    .summary__bg-corner

  .c-grid
    .summary__wrapper

      h2.summary__title.c-title SUMMARY - THE ZEN LAUNCH DIFFERENCE
      .summary__line.c-line
      p.summary__desc.c-desc Zen Launch seeks to bridge the gap between traditional investors and the launchpad. We will do that by:

      .summary__box-wrapper
        div
          .summary__box.summary__box-1
            div
              p.summary__box-title SIMPLIFIED USER EXPERIENCE:
              .summary__box-icon
                img(src="img/summary-icon-1.svg" alt="")
              p.summary__box-desc We are not trying to be everything to everybody. We are THE destination for our network.
        div
          .summary__box.summary__box-2
            div
              p.summary__box-title FOCUS ON HIGH QUALITY PROJECTS:
              .summary__box-icon
                img(src="img/summary-icon-2.svg" alt="")
              p.summary__box-desc We distill maximum ROI with a ‘less is more’ approach with an emphasis on high impact use cases.
        div
          .summary__box.summary__box-3
            div
              p.summary__box-title A BUILT-IN NETWORK:
              .summary__box-icon
                img(src="img/summary-icon-3.svg" alt="")
              p.summary__box-desc We are the on-ramp for a unique audience to the Web3 space.
        div
          .summary__box.summary__box-4
            div
              p.summary__box-title A HIGH-LEVEL OF SERVICE:
              .summary__box-icon
                img(src="img/summary-icon-4.svg" alt="")
              p.summary__box-desc A team member will be available to onboard high dollar token-holders and guide them from CEX to DEX to stake and KYC.
        div
          .summary__box.summary__box-5
            div
              p.summary__box-title!= "A PROVEN <br>TEAM:"
              .summary__box-icon
                img(src="img/summary-icon-5.svg" alt="")
              p.summary__box-desc We are not a scrappy start-up. We are an enterprise level team with enterprise level ambitions in the Web3 space. We will execute as such.

// SECTION :: END
