// SECTION :: START

section#system.system

  .system__bg
    .system__bg-corner.system__bg-corner-1
    .system__bg-corner.system__bg-corner-2

  .c-grid
    .system__wrapper

      h2.system__title.c-title.wow.animate__animated.animate__fadeInUp ZEN LAUNCH TREASURY SYSTEM
      .system__line.c-line
      p.system__desc.c-desc.wow.animate__animated.animate__fadeInUp Zen Launch will receive it’s launchpad fees in tokens as well as use reserves to participate in presale rounds on listed projects These tokens will be held in treasury for a minimum of 12 months, staked and farmed where applicable, providing an added underlying value to back the ZENL token

      .system__box-wrapper
        div.wow.animate__animated.animate__fadeInUp
          .system__box
            .system__box-head
              img(src="img/img-system-1.svg" alt="")
            .system__box-body
              p This aligns Zen, it’s project and IDO participants in the long-term health of the projects on Zen Launch by reducing selling pressure.
        div.wow.animate__animated.animate__fadeInUp
          .system__box
            .system__box-head
              img(src="img/img-system-2.svg" alt="")
            .system__box-body
              p As our projects are successful and generate high ROI’s, our purchasing power increases and treasury begins to grow exponentially.
        div.wow.animate__animated.animate__fadeInUp
          .system__box
            .system__box-head
              img(src="img/img-system-3.svg" alt="")
            .system__box-body
              p As this approach compounds over time, Zen Launch’s treasury backed  $ZENL token, becomes the launchpad gold-standard for excellence.

// SECTION :: END
