// SECTION :: START

section#value.value

  .value__bg
    .value__bg-corner

  .c-grid
    .value__wrapper

      h2.value__title.c-title.wow.animate__animated.animate__fadeInUp CONCENTRATING ON VALUE
      .value__line.c-line
      p.value__desc.c-desc.wow.animate__animated.animate__fadeInUp We believe in the long-term prospects for the launchpad niche but also feel the space offers room for significant improvements.

      .value__block-wrapper
        div

          ul.value__block-list
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/img-value-1.png" srcset="img/img-value-1@2x.png 2x" alt="")
              div Polkastarter lists 90 completed projects. 28 projects had an ATH >3000% of IDO price. 22 of these projects were non-gaming related.
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/img-value-2.png" srcset="img/img-value-2@2x.png 2x" alt="")
              div DAOMaker lists 87 completed projects. 11 projects did 70-352x ATH’s from IDO. Only two of these projects were games. (Also notable - launchpad hosting their IDO’s here outperformed and had 3 spots on this list)
            li.wow.animate__animated.animate__fadeInUp
              div
                img(src="img/img-value-3.png" srcset="img/img-value-3@2x.png 2x" alt="")
              div Out of Trustswap’s top 10 performing projects, only 2 were gaming/NFT related.

        div

          p.value__subtitle.wow.animate__animated.animate__fadeInUp Money-grab projects dilute returns and create too much noise. Smart users know this. There is a massive opportunity for more targeted offerings.

          .value__block-desc.wow.animate__animated.animate__fadeInUp
            p At Zen Launch, we believe less is more. High-end users don’t want to shop in a flea market. They want a more carefully curated experience. That holds true in fine-dining, high fashion and finance. That key element of consumer behavior will continue to hold true on the Web3 frontier as well. Our approach is to carefully select for the best projects and build trust with our users. By taking a long view of the market,  we believe strongly that will position Zen Launch to capture increasing value over time.

// SECTION :: END
