// SECTION :: START

.value {
  z-index: 10;
  position: relative;

  &__bg {
    z-index: 0;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    border-radius: 0 0 0 100px;
    background-color: #080e1f;
    @include adaptive(767) {
      border-radius: 0 0 0 50px;
    }

    &-corner {
      overflow: hidden;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      width: 100px;
      height: 100px;
      @include adaptive(767) {
        width: 50px;
        height: 50px;
      }

      &:after {
        content: "";
        display: block;
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 100px;
        box-shadow: 50px -50px 0 0 #080e1f;
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__desc {
    padding-bottom: 50px;
    text-align: center;
  }

  &__subtitle {
    padding-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    @include adaptive(767) {
      font-size: 24px;
      text-align: center;
    }
  }

  &__block {
    &-wrapper {
      position: relative;
      left: -125px;
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 125px);
      @include adaptive(1023) {
        left: -50px;
        width: calc(100% + 50px);
      }

      > div {
        width: 100%;
        max-width: calc(100% / 2);
        padding-left: 125px;
        @include adaptive(1023) {
          padding-left: 50px;
        }
        @include adaptive(767) {
          max-width: 100%;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        padding-bottom: 50px;

        > div {
          &:nth-of-type(1) {
            width: 100%;
            max-width: 125px;

            img {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
          &:nth-of-type(2) {
            flex: 1;
            min-width: 1px;
            max-width: 100%;
            font-size: 19px;
            font-weight: 300;
            @include adaptive(1279) {
              font-size: 17px;
            }
            @include adaptive(767) {
              font-size: 14px;
            }
          }
        }
      }
    }

    &-desc {
      padding: 25px;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(0, 234, 124);
      background-color: #0f1b3a;

      p {
        font-size: 16px;
        line-height: 25px;
        @include adaptive(767) {
          font-size: 14px;
        }
      }
    }
  }
}

// SECTION :: END
