// FOOTER :: START

footer#footer.footer

  .footer__bg
    img(src="img/img-footer-bg.svg" alt="")

    .footer__bg-canvas#particles-js

  .footer__container.footer__container-1
    .c-grid-fluid
      .footer__wrapper.footer__wrapper-1

        .footer__logo.logo.logo--footer
          a.logo__btn(href="#")
            img.logo__img(src="img/logo.png" alt="")

        h2.footer__title Thank you

        .footer__contacts
          p.footer__contacts-title Contact:
          a.footer__contacts-link(href="#")!= "<strong>Email</strong> – ryan@notebook.capital"

        ul.footer__social
          li
            a(href="#")
              i.icon-font.icon-facebook
          li
            a(href="#")
              i.icon-font.icon-twitter
          li
            a(href="#")
              i.icon-font.icon-instagram

  .footer__container.footer__container-2
    .c-grid-fluid
      .footer__wrapper.footer__wrapper-2

        p.copyright @ 2022 ZenLaunch All rights reserved.


// FOOTER :: END
