// FOOTER :: START

footer#footer.footer

  .footer__bg
    img.footer__bg-visual(src="img/img-footer-bg.svg" alt="")

    #footer__bg-canvas.footer__bg-canvas
    .footer__bg-line

  .footer__container.footer__container-1
    .c-grid-fluid
      .footer__wrapper.footer__wrapper-1

        .footer__logo.logo.logo--footer.wow.animate__animated.animate__fadeInUp
          a.logo__btn(href="#")
            img.logo__img(src="img/logo.png" alt="")

        h2.footer__title.c-title.c-title--big.wow.animate__animated.animate__fadeInUp Thank you

        .footer__contacts.wow.animate__animated.animate__fadeInUp
          p.footer__contacts-title Contact:
          a.footer__contacts-link(href="mailto:ryan@notebook.capital")!= "<strong>Email</strong> – <span>ryan@notebook.capital</span>"

        ul.footer__social.wow.animate__animated.animate__fadeInUp
          li
            a(href="#")
              i.icon-font.icon-facebook
          li
            a(href="#")
              i.icon-font.icon-twitter
          li
            a(href="#")
              i.icon-font.icon-instagram

  .footer__container.footer__container-2
    .c-grid-fluid
      .footer__wrapper.footer__wrapper-2

        p.copyright @ 2022 ZenLaunch All rights reserved.


// FOOTER :: END
