// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        .header__logo.logo.logo--header
          a.logo__btn(href="#")
            img.logo__img(src="img/logo.png" alt="")

      .header__wrapper-right

        div

          nav.header__nav
            a.is-active(href="#") ABOUT
            a(href="#") ROADMAP
            a(href="#") APP

        div

          ul.footer__social
            li
              a(href="#")
                i.icon-font.icon-facebook
            li
              a(href="#")
                i.icon-font.icon-twitter
            li
              a(href="#")
                i.icon-font.icon-instagram

// HEADER :: END
