// SCRIPT :: START

script(src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.js" integrity="sha512-FG4FmjLeSvZ4T4WW7nwMqwA/sEzOn5l0jHjceT+N5UX/sTFaBgljBhFWpTRi+n4YuxIgvnokTX0IQ9ROE0Y0QA==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer")

script(src="js/vendor.js")
script(src="js/app.js")

// SCRIPT :: END
