// LINE :: START

.c-line {
  display: flex;
  width: 98px;
  height: 5px;
  margin: 25px auto;
  background: linear-gradient(135deg, #00F968, #00BABB, #00F968, #00BABB);
  background-size: 300% 300%;
  animation: gradient 5s ease-in-out infinite;
}

// LINE :: END
